@model IEnumerable<GigHub.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Artist's I'm Following</h1>
<ul class="voffset4">
    @foreach (var artist in Model)
    {
        <li>@artist.Name</li>
    }
</ul>

